@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-green {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#AECB45, #51AD32)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.animate-background {
	background: linear-gradient(-45deg, #FFEE2B, #AECB45, #51AD32, #009377);
	background-size: 600% 600%;
	animation: gradient 5s ease infinite;
	/* height: 100vh; */
}

.container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  
  .title{
    font-weight: 500;
    font-size: 4rem;
    letter-spacing: -.14rem;
    line-height: 1;
  }
  
  .left{
    height: 100%;
    grid-column: 1/5;
    position: relative;
    z-index: 200;
    padding-top: 3rem;
  }
  
  .right{
    height: 100%;
    grid-column: 5/13;
    display: flex;
    gap: 2rem;

    .teammate {
      position: relative;
      background-position: center top;
      background-size: auto 100%;
      border-radius: .5rem;
      transition: width 300ms;
      width: 33%;
      cursor: pointer;
      overflow: hidden;

      &:before{
        content: '';
        /* background: (180deg, rgba(0,0,0,0.4990371148459384) 0%, rgba(0,0,0,0) 30%); */
        background: linear-gradient(180deg, rgba(0,0,0,0) 80%, rgba(0,0,0,0.639093137254902) 100%);
        inset: 0;
        position: absolute;
        bottom: 0;
      }
  
      
      .vert {
        position: absolute;
        bottom: 2rem;
        left: .5rem;
        color: white;
        transform: rotate(-90deg);
        font-size: 2rem;
        transition: opacity 200ms;
      }
    
      .horiz {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 1.4rem;
        padding: 2rem;
        position: absolute;
        padding-bottom: 2rem;
        bottom: 0;
        width: 100%;
        opacity: 0;
    
        topics {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
          strong {
            font-size: 2rem;
            font-weight: normal;
            line-height: 1;
          }
    
          span{
            font-size: .6rem;
            font-weight: 500;
          }
        }
      }
    
      &:hover {
        width: 100%;
    
        .horiz{
          opacity: 1;
        }
        .vert{
          opacity: 0;
        }
      }
    }
  }
  
}

.teammate:hover  {
  width: 100%;
}

.one {
  background-image: url('../../public/public_assets_img_team_teamJ.jpg');
}
.two {
  background-image: url('../../public/public_assets_img_team_teamM2.jpg');
}
.three {
  background-image: url('../../public/public_assets_img_team_teamE.jpg');
}

.buttonWrapper{
  display: flex;
  height: 6rem;
  z-index: 100;
  margin-bottom: 2rem;
  overflow: visible;
  white-space: nowrap;
  position: absolute;
  bottom: 5rem;
  box-shadow: 3px 6px 14px 2px rgb(0 0 0 /20%);
  color: black;
  background: white;
  width: 110%;
}
.label {
  display: flex;
  font-size: 1.5rem;
  flex-grow: 1;
  padding: 0 2rem;
  align-items: center;
}

.btn {
 background-color: #51AD32;
 aspect-ratio: 1/1;
 flex-shrink: 0;
 font-size: 1.5rem;
 font-weight: 500;
 transition: margin 200ms;

  &:hover{
    margin: 4px;
  }
}

.footer{
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  
  .title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .list {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
  }
}





@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
